@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #eeddea;
}

.everything{
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    margin: 10px;
    letter-spacing: 10px;
    font-size: 64px;
    text-align: center;
}

/* Header */

.header{
    background-color: #d9bfcc;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addBtn {
    width: 225px;
    padding: 5px;
    background-color: #f5d6ee;
}

/* Cards */

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 10px;

}

.card {
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background-color: #f6eef4;
    line-height: 25px;
    height: 250px;
    width:(minmax(300px, 1fr));
    margin: 10px;
    padding: 30px 15px 15px 15px;
    display: grid;
    flex: 1 1 250px;
    border-color: black;
    border-style: solid;
}

p {
    color: #290a22;
    font-size: 18px;
}

/* Buttons */

.btnDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: end;
}

button {
    background-color: #e3b5d9;
    font-size: 18px;
    border-radius: 10px;
    color: black;
    border-color: black;
    border-style: solid;
}

button:hover {
    background-color: #efcce4;
    cursor: pointer;
}

.rmvBtn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
    padding: 0px;
    line-height: 0px;
}

.status {
    height: 35px;
    flex: 1;
}

/* Form */

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 400px;
    /* background-color:#edc7b7; */
    border-radius: 10px;
    padding: 15px;
    border-color:black;
    background-color: #f6eef4;
}
.form {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#read {
    margin: 10px;
}

input {
    width: 1fr;
}

.formBtns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 40px;
}

.formBtns button {
    flex: 1;
}

.readForm {
    display: flex;
    align-items: center;
}

#read {
    margin: 10px;
}

/* 


--background-50: #f5eff2;
--background-100: #ecdfe6;
--background-200: #d9bfcc;
--background-300: #c69fb3;
--background-400: #b38099;
--background-500: #9f6080;
--background-600: #804d66;
--background-700: #60394d;
--background-800: #402633;
--background-900: #20131a;
--background-950: #100a0d;

--primary-50: #f6eef4;
--primary-100: #eeddea;
--primary-200: #dcbcd5;
--primary-300: #cb9ac0;
--primary-400: #ba78aa;
--primary-500: #a85795;
--primary-600: #874577;
--primary-700: #65345a;
--primary-800: #43233c;
--primary-900: #22111e;
--primary-950: #11090f;

--secondary-50: #f8ecf5;
--secondary-100: #f1daec;
--secondary-200: #e3b5d9;
--secondary-300: #d68fc5;
--secondary-400: #c86ab2;
--secondary-500: #ba459f;
--secondary-600: #95377f;
--secondary-700: #70295f;
--secondary-800: #4a1c40;
--secondary-900: #250e20;
--secondary-950: #130710;

--accent-50: #faeaf6;
--accent-100: #f5d6ee;
--accent-200: #ebaddd;
--accent-300: #e184cb;
--accent-400: #d75bba;
--accent-500: #cd32a9;
--accent-600: #a42887;
--accent-700: #7b1e65;
--accent-800: #521444;
--accent-900: #290a22;
--accent-950: #150511;

 */
